name: Code test and analysis
permissions:
  contents: read
  checks: write
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]
jobs:
  build-and-test:
    name: Build and Test
    if: ((github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false) || github.event_name == 'push') && github.repository_owner == 'Altinn'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: |
            8.0.x
            9.0.x
      - name: Build & Test
        run: |
           dotnet build Altinn.Common.AccessToken.sln -v m
           dotnet test Altinn.Common.AccessToken.sln -v m
  analyze:
    if: ((github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false) || github.event_name == 'push') && github.repository_owner == 'Altinn'
    name: Analyze
    runs-on: windows-latest
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: |
            8.0.x
            9.0.x
      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'microsoft'
          java-version: 17
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Install SonarCloud scanner
        shell: powershell
        run: |
          dotnet tool install --global dotnet-sonarscanner
      - name: Analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: powershell
        run: |
          dotnet-sonarscanner begin /k:"Altinn_altinn-accesstoken" /o:"altinn" /d:sonar.login="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.cs.vstest.reportsPaths="**/*.trx" /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml" /d:sonar.coverage.exclusions="src/**/Program.cs"

          dotnet build Altinn.Common.AccessToken.sln
          dotnet test Altinn.Common.AccessToken.sln `
          --no-build `
          --results-directory TestResults/ `
          --collect:"XPlat Code Coverage" `
          -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover

          dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
