name: Pack and publish nugets

on:
  release:
    types:
      - published

jobs:
  build-pack:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Install dotnet6
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: |
            8.0.x
            9.0.x
      - name: Install deps
        run: |
          dotnet restore
      - name: Build AccessTokenClient
        if: startsWith(github.ref, 'refs/tags/Altinn.Common.AccessTokenClient-')
        run: |
          cd src/Altinn.Common.AccessTokenClient
          dotnet build --configuration Release --no-restore -p:Deterministic=true -p:BuildNumber=${{ github.run_number }}
      - name: Pack and publish AccessTokenClient
        if: startsWith(github.ref, 'refs/tags/Altinn.Common.AccessTokenClient-')
        run: |
          cd src/Altinn.Common.AccessTokenClient
          dotnet pack Altinn.Common.AccessTokenClient.csproj --configuration Release --no-restore --no-build -p:BuildNumber=${{ github.run_number }} -p:Deterministic=true
          dotnet nuget push bin/Release/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}
      - name: Build AccessToken
        if: startsWith(github.ref, 'refs/tags/Altinn.Common.AccessToken-')
        run: |
          cd src/Altinn.Common.AccessToken
          dotnet build --configuration Release --no-restore -p:Deterministic=true -p:BuildNumber=${{ github.run_number }}
      - name: Pack and publish AccessToken
        if: startsWith(github.ref, 'refs/tags/Altinn.Common.AccessToken-')
        run: |
          cd src/Altinn.Common.AccessToken
          dotnet pack Altinn.Common.AccessToken.csproj --configuration Release --no-restore --no-build -p:BuildNumber=${{ github.run_number }} -p:Deterministic=true
          dotnet nuget push bin/Release/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}
